button {
    margin: 4px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
}

body {
    min-width: 250px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background: #1F1B24;
}

form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 200px;
    cursor: pointer;
}

.formHasContent{
    width: 200px;
    cursor: pointer;
}

.inputHasContent{
    display: block;
}



form:hover input {
    display: block;
}

form:hover .fa {
    background: #07051a;
    color: white;
}