:root {
  --bg: #232931;
  --accent: #62ACE5;
  --text: #f1f1f1;
}

#multiInstanceOverlayVTS {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#multiInstanceOverlayVTSInput {
  position: absolute;
  border-radius: 10px 10px 0px 0px;
  top: 50%;
  left: 50%;
  width: 70%;
  color: var(--text);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: var(--bg);
  border: 0px;
  padding: 15px;
  font-size: 1.75em;
  cursor: text;
  caret-color: var(--accent);
}
