.ui-autocomplete {
  max-height: 150px;
  overflow-y: hidden;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

:root {
  --bg: #232931;
  --bg-light: #434750;
  --accent: #62ACE5;
  --text: #f1f1f1;
  --glow: inset 0 0 5px var(--accent);
  --glow-dark: inset 0 0 5px var(--bg);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  margin: 0px;
  /*Reset default 10px margin on body */
  min-width: 240px;
  min-height: 250px;
  ;
}

#primary,
#secondary {
  transition: all .3s cubic-bezier(0.65, 0, 0.35, 1);
  /* slide transition */
}

#secondary {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  font-size: larger;
  opacity: 0;
}

#secondaryHeader {
  height: 45px;
  border-bottom: 1.5px solid var(--bg-light) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#returnToPrimary {
  color: var(--accent);
}

#shrtctLabel {
  color: var(--text);
  padding: 10px 20px;
  margin: 0;
  opacity: .5;
}

.instances {
  /* Hacky Solution but only way to have back stay in top, Netsuite in bottom and scroll in between */
  /* Changing back button height or Netsuite height, update this */
  height: calc(100vh - 45px - 45px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 2px;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  background: var(--bg-light);
  grid-gap: 2px;
  padding: 2px;
}

.button {
  cursor: pointer;
  background: var(--bg);
  border: none;
  color: var(--text);
  font-weight: lighter;
  font-family: inherit;
  font-size: initial;
  padding: 10px 20px;
  transition: box-shadow .2s ease-in-out;
}

.button:hover {
  box-shadow: var(--glow);
}

.instanceLink {
  padding: 10px;
  border-bottom: 1.5px solid var(--bg-light) !important;
  cursor: pointer;
  background: transparent;
  border: none;
  font-weight: lighter;
  font-family: inherit;
  font-size: initial;
  color: var(--text);
  width: 100%;
  border-bottom: 1px solid var(--bg-light);
}

.instanceLink:hover {
  box-shadow: var(--glow);
  border-color: var(--bg);
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.moduleInputGroup,
.searchInputGroup {
  position: relative;
  transition: all .5s;
  width: 38px;
  height: 38px;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
  margin: auto;
  background-color: aliceblue;
}

.moduleInputGroup:hover,
.searchInputGroup:hover {
  box-shadow: 0 0 10px var(--accent);
  width: 200%;
  z-index: 1;
  background-color: aliceblue;
}

.searchInputGroup:hover {
  transform: translateX(-50%)
}

.searchInputGroupOpened {
  transform: translateX(-50%)
}

.moduleInputGroupOpened,
.searchInputGroupOpened {
  width: calc(200%);
}

.inputText {
  width: 100%;
  height: 100%;
  border: none;
  outline: 0;
  padding-left: 15px;
  padding-right: 40px;
  font-size: 1em;
}

.helpText {
  visibility: hidden;
  width: 200px;
  background-color: var(--bg-light);
  color: var(--text);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 45%;
  left: 50%;
  margin-left: -100px;
  /* Use half of the width (120/2 = 60), to center the tooltip */

}

.helpText::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--bg-light) transparent transparent transparent;
}

.fa {
  position: absolute;
  padding: 10px;
  top: 2px;
  right: 2px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 1em;
  color: var(--accent);
  background: var(--bg);
  transition: all 1s;
}

.lead {
  border-top: 1.5px solid var(--bg-light);
  margin: 0;
  padding: 5px;
  color: var(--text);
  font-family: inherit;
  font-size: x-large;
  font-weight: lighter;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: .65;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--accent);

}